*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.python linguist-detectable=true
*.styl linguist-detectable=false
*.less linguist-detectable=false
