<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dropbox access confirmation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='pulse.ico') }}">

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Athlete_Data_WebUI.js') }}"></script>
    </head>

    <div class="header">
        <h7><span class="oi oi-check" style="margin-left: 15px; margin-top:20px"></span>  
        Success. Request for this app to access "Archive" folder in your dropbox completed successfully. You can now close this page and proceed with download.</h7>
    </div>

</html>
